.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}
.animation{
    background-color:#76C2AF;
    border-radius: 5px;
    animation: cdxczxcxz 1s ease 0s 1 normal forwards;
    
}
@keyframes cdxczxcxz {
	0% {
		opacity: 0;
		transform: translateY(250px) rotate(200deg);
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotate(0deg);
	}
}
